/* Icon-уудыг зүүн тал руу зэрэгцүүлэх */
#what .items .item {
  display: flex;
  text-align: left;
}

/* Icon-ын байршил */
#what .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

#contact .map {
  flex: 2;
}